dj-database-url==2.2.0
Django==5.2.8
psycopg==3.2.3
psycopg-pool==3.2.3
django-allauth==0.63.1
django-celery-beat==2.8.1
django-celery-results==2.5.1
django-cors-headers==4.9.0
django-filter==25.2
django-timezone-field==7.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
whitenoise[brotli]==6.6.0
google-genai
python-dotenv
openpyxl